* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

*::placeholder {
  font-family: Arial, Helvetica, sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
}

.bg-img {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('../img/abstract01.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}


.form-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: inherit;
}


.form-card {
  width: 400px;
  height: 500px;
  padding: 32px 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  margin-bottom: 12px;
/* From https://css.glass */
background: rgba(255, 255, 255, 0.06);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);
}



.avatar {
  display: flex;
  border-radius: 100%;
  width: 120px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
border: 4px solid white;
}


input {
  border-radius: 5px;
  border: none;
  padding: 12px 12px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9.5px );
  -webkit-backdrop-filter: blur( 9.5px );
  border-radius: 10px;
  color: white;
  caret-color: white;
}

input::placeholder {
  /* font-weight: bold; */
  color: white;
}


.password-row {
  display: flex;
  gap: 12px;
}

.password-row input {
  width: 50%;

}

.form-btn {
  cursor: pointer;
  letter-spacing: 1px;
  margin-top: auto;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: black;
  font-weight: bold;
  padding: 10px 0;
  font-size: 16px;
  box-shadow: rgba(50, 50, 93, 0.3) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: 100ms;

}

.form-btn:hover {
  color: black;
  background-color: white;
}

.alert, .alert-danger {
  margin-bottom: 6px;

}

.error-modal {
  background: rgba( 255, 0, 0, 0.65 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  border-radius: 10px;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 100%;

  padding: 24px;
  z-index: 999;
  border-radius: 5px;
  width: 350px;
}

.already-account {
  color: white;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.already-account p {
  color: white;

}

.already-account a {
  color: rgb(140, 140, 247);
  letter-spacing: 1px;
}

.already-account a:visited {
  color: rgb(140, 140, 247);
  letter-spacing: 1px;
}